@model EntityLayer.Concrete.Address

@{
    ViewData["Title"] = "EditAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adres Düzenleme Sayfası</h4>
            <form class="forms-sample" method="post">
                @Html.HiddenFor(x => x.AddressID)
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 1</label>
                    <span asp-validation-for="Description1" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description1">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 2</label>
                    <span asp-validation-for="Description2" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description2">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 3</label>
                    <span asp-validation-for="Description3" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description3">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">Açıklama 4</label>
                    <span asp-validation-for="Description4" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description4">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Harita Konumu</label>
                    <span asp-validation-for="MapInfo" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="MapInfo">
                </div>

                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>
